<%- include('partials/header') %>
<label for="input-date">Выберите дату: </label>
<input type="date" name="inputDate" id="input-date">
<br>
<table>
    <thead>
        <tr>
            <td>Дата</td>
            <td>Заголовок</td>
            <td>Текст</td>
        </tr>
    </thead>
    <tbody>
        <% if (post) { %>
            <tr>
                <td><%- post.date %></td>
                <td><%- post.title %></td>
                <td><%- post.content %></td>
            </tr>
        <% } %>
    </tbody>
</table>
<%- include('partials/footer') %>

<script>
    const inputDate = document.getElementById("input-date");

    inputDate.addEventListener("change", (event) => {
        event.preventDefault();
        document.location.href = "/posts/" + inputDate.value;
        console.log(inputDate.value);
        
    });
</script>